accelerate==0.25.0
annotated-types==0.7.0
bitsandbytes==0.43.1
datasets==2.20.0
dateutils==0.6.12
GitPython==3.1.43
huggingface-hub==0.23.4
matplotlib==3.9.0
nltk==3.9
peft==0.11.1
pytorch-lightning==2.3.0
tokenizers==0.19.1
torch==2.3.1
torchaudio==2.3.1
torchmetrics==1.4.0.post0
torchvision==0.18.1
tqdm==4.66.4
traitlets @ file:///home/conda/feedstock_root/build_artifacts/traitlets_1713535121073/work
transformers==4.44.2
yarl==1.9.4

