absl-py==2.1.0
accelerate==0.33.0
datasets==2.18.0
GitPython==3.1.43
huggingface-hub==0.24.5
peft==0.12.0
rouge_score==0.1.2
scikit-learn==1.5.1
scipy==1.14.0
sentence-transformers==3.1.1
sentencepiece==0.2.0
spacy==3.7.6
spacy-legacy==3.0.12
spacy-loggers==1.0.5
srsly==2.4.8
torch==2.4.0
torchaudio==2.4.0
torchvision==0.19.0
transformers==4.44.2
